/* Main container */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* All elements */
* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

/* Main title container */
.title-container {
  padding-top: 50px;
  text-align: left;
  margin-bottom: var(--m4);
  border-bottom: var(--border);
  display: flex;
}

/* Title text */
.title-container .title {
  padding-bottom: var(--m1);
  font-weight: 400;
  font-size: var(--f1);
  color: var(--text1);
}

/* Subtitle text */
.title-container .title span {
  margin-left: var(--m2);
  font-size: var(--f4);
  color: var(--text2);
}

/* Theme button */
.title-container .theme-button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: var(--m2);
  justify-content: flex-end;
  height: 30px;
  display: flex;
  align-items: center;
  padding: var(--m2);
  background-color: var(--btn-bg);
  color: var(--btn-text);
  gap: var(--m1);
  border: none;
  border-radius: var(--r3);
}

/* All buttons */
button:hover {
  cursor: pointer;
}