/* Main event container */
.event-item-container {
  width: 100%;
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: var(--r1);
  background-color: white;
  color: black;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: row;
  height: 150px;
}

/* Date container */
.event-item-container .date-container {
  background-color: red;
  border-radius: var(--r1);
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-wrap: balance;
  margin-right: 15px;
}

/* Location and time container */
.event-item-container .time-location-container {

}

/* Title and description container */
.event-item-container .info-container {
  background-color: orange;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 15px;
  padding-right: 15px;
  /* border-right: 1px solid; */
}

/* Event date text */
.date-container .date {
  /* background-color: lime; */
  white-space: pre-wrap;
  margin-bottom: 0;
  margin-top: 0;
}

/* Event time text */
.time-location-container .time {

}

/* Event Location text */
.time-location-container .location {
  margin-top: 0 auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex: 1;
}

/* Event title text */
.info-container .title {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 0;
  flex: 1
}

/* Event description text */
.info-container .description {
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 0;
}

/* Important events */
.important {
  border: 4px solid red;
}