/* Main container */
.events-list-controls-container {
  display: flex;
  flex-direction: row;
  /* background-color: grey; */
  align-items: center;
  height: 50px;
  gap: var(--m2);
  margin-bottom: var(--m3);
}

/* title */
.events-list-controls-container .title {
  justify-content: flex-start;
  text-align: left;
  max-width: max-content;
  /* background-color: lime; */
  font-size: var(--f2);
  color: var(--text2);
}

/* Date selector container */
.events-list-controls-container .date-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--m1);
  margin-left: var(--m1);
}

/* Date selector buttons*/
.events-list-controls-container .date-select-container button {
  border-radius: var(--r3);
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  color: var(--btn-text);
  background-color: var(--btn-bg);
} 

/* Search events container */
.events-list-controls-container .search-events-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--m1);
  margin-left: var(--m2);
}

/* Search events form */
.events-list-controls-container .search-events-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Add event button */
.events-list-controls-container .add-events-button {
  justify-content: flex-end;
  margin-left: auto;
  border-radius: var(--r1);
  border: none;
  display: flex;
  align-items: center;
  gap: var(--m1);
  height: 40px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  padding: var(--m2);
}

/* Search results container */
.events-list-controls-container .search-results-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(120, 142, 163);
  margin-left: var(--m3);
  border-radius: var(--r3);
  max-width: 90%;
  height: 30px;
  margin-top: var(--m1);
  padding: var(--m1);
}

/* Search results text */
.events-list-controls-container .search-results-container .search-results-text {
  align-content: center;
  margin-left: var(--m1);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Clear search results button */
.events-list-controls-container .search-results-container .clear-search-button {
  justify-content: flex-end;
  align-content: flex-end;
  margin-left: var(--m2);
  border-radius: var(--m4);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: var(--m1);
  cursor: pointer;
}

/* Button hover */
.events-list-controls-container .search-results-container .clear-search-button:hover {
  color: red;
}