/* Events list container */
.events-list-container {
    width: 100%;
    /* background-color: grey; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;  
}

/* Months title line */
.events-list-container .month-title {
    font-size: var(--f3);
    text-align: left;
    /* background-color: lime; */
    border-bottom: 1px dotted black;
    line-height: 0.1em;
    margin: 10px 0 ;
}

/* Months title Text */
.events-list-container .month-title span {
    background-color: white;
    padding-right: var(--m2);
}

/* All months title elements except the first */
.events-list-container .month-title:not(:first-child) {
    margin-top: var(--m4);
}

/* No events text */
.no-events-text {
    font-size: var(--f4);
}