.container {
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;  
}

.title-and-button-container {
    width: 100%;
}    
    
.events-container {
    border: solid 1px black; 
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}